{% extends 'main/layout.html' %}
{% block title%}главная страница{% endblock %}
{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus excepturi itaque provident rerum velit.
        Adipisci assumenda consequuntur delectus dolore dolores mollitia, neque non quaerat quasi ratione sed tempora
        temporibus, veniam</p>
    <button class="btn btn-warning">главная страница</button>

    {% for el in values %}
        {% if el == 'hello'%}
            {% filter upper %}
                <p>{{ el }}</p>
            {% endfilter %}
        {% endif %}
    {% endfor %}

    {% for el in obj %}
        <p>{{ el }}</p>
    {% endfor %}
</div>
{% endblock %}