{% extends 'main/layout.html' %}

{% block title%}Продукты{% endblock %}

{% block content %}
    <div class="features">
        <h1>Продукты</h1>
        {% if products %}
            {% for el in products %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.descriptions }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет продуктов</p>
        {% endif %}

    </div>
{% endblock %}